.test{
    color:blue; 
}

.title {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  .top{
    font-family: 'Sometype Mono', monospace;
  }
  nav{

    height:80px;
    width:100%;
  }
  label.logo{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight:bold; 
  }
  nav ul{
    float:right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color:white;
    font-size:17px;
    padding:7px 13px;
    border-radius:3px;
    text-transform:uppercase;
  }
  a.active,a:hover{
    background:#007D83;
    transition:.5s;
  }

.mission{
    text-align: center;
    display:flex; 
    border:5px solid #AFB3B4 ; 
    border-radius:10px; 
    margin-bottom:3%;
    margin-left:5%; 
    margin-right:5%;  
    display: flex;
}

.missionImage{ 
    flex-direction: row;
    flex-grow:1; 
    border-right:2px solid grey;
}

.missionImage img{
    width: 100%;
    height: 100%;
}

.missionText{
    flex-grow:1; 
}

.mission h1{
    color: #AFB3B4;
}

.mission p{
    color: #AFB3B4;
}

.blurbs{
    text-align: center;
    border:2px solid #AFB3B4; 
    background-color:#007D83; 
    border-radius:10px; 
    padding:2%; 
}

.calcBlurb{
    margin-left:20%; 
    background-color: #4A989A;
    border:2px solid black; 
    border-radius:10px;
    margin-bottom: 1%;
}

.calcBlurb h1{
    color: black;
}

.calcBlurb p{
    color: black;
}

.tipsBlurb{
    margin-right:20%; 
    background-color: #4A989A;
    border:2px solid black; 
    border-radius:10px; 
}

.tipsBlurb p{
    color: black;
}

.calcButton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    background-color: #245D68;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: 'Sometype Mono', monospace;

}

.tipsButton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    background-color: #245D68;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

body{
    background-color: rgba(36, 93, 104, 1);
    ;
    font-family: 'Sometype Mono', monospace;
}

.calcForm{
    color: #AFB3B4;
    font-size:20px;
    text-align: center;
    font-family: 'Sometype Mono', monospace;
}

.radioContainer{
    color: #AFB3B4;
    text-anchor: middle;
    text-align: center; /* Center-align the contents horizontally */
    display: middle; /* Make the radio buttons display inline */
    margin-right: 20px; /* Add some spacing between radio buttons */
    vertical-align: middle;
}