.test{
    color:blue; 
}

.header a{
    color:#245D68;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Handlee', cursive;

padding: 10px 140px;

}

.header {
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(76, 105, 224, 0.4));
    color: aqua;
}

