<!DOCTYPE html>
<html> 
   <head>
       <meta charset="utf-8"/> 
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>{% block title %}Home{% endblock %}</title>
   </head>
   <body>
       <nav>
           <a id="login" href="/">About Us</a> 
           <a id="signUp" href="/calculator">CO2 calculator</a> 
           <a id="logout" href="/involvement">Get Involved</a> 
        </nav>
        <div>
           {% block content %}
           <h1>This is the about us page!</h1>
           {% endblock %}
        </div>
   </body>
</html> 