{% extends "base.html" %}
{% block title %}CO2 Calculator{% endblock %}
{% block content %}<h1 class="test">This is the calculator page!</h1>
<form method="POST">
    <h3>CO2 Calculator</h3>
    <div>
        <label for="origin">Origin</label>
        <input 
            type="text" 
            id="origin" 
            name="origin" 
            placeholder="Enter origin location"
        />
    </div>
    <div>
        <label for="destination">Destination</label>
        <input 
            type="text" 
            id="destination" 
            name="destination" 
            placeholder="Enter destination location"
        />
    </div>
    <div>
        <label>Mode of Transport</label>
        <input type="radio" id="flight" name="transportmode" value="FromFlight">
        <label for="flight">Flight</label><br>
        <input type="radio" id="css" name="transportmode" value="FromCarTravel">
        <label for="car">Car</label><br>
        <input type="radio" id="javascript" name="transportmode" value="FromMotorBike">
        <label for="motorbike">Motorbike</label>
        <input type="radio" id="javascript" name="transportmode" value="ClassicBus">
        <label for="bus">Bus</label>
        <input type="radio" id="javascript" name="transportmode" value="NationalTrain">
        <label for="train">Train</label>
        <input type="radio" id="javascript" name="transportmode" value="Subway">
        <label for="subway">Subway</label>
    </div>
    <br/>
    <button type="submit">Submit</button>
</form>
{{ carbon_equiv }}
{{ price }}
{% endblock %}