{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}<h1 class="pageTitle">About Us</h1>
<div class="mission">
    <div class="missionImage">
        <img class="missionImage" src = "https://images.unsplash.com/photo-1625874230284-df6cfa02464e?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2VhJTIwYWVzdGhldGljfGVufDB8fDB8fHww" class = "oceanimg">
    </div>
    <div class="missionText">
        <h1> Our Mission </h1>
        <p> Welcome to BlueX, where our journey begins with a commitment to a greener planet! <br> <br> Carbon emissions from vehicles have profound and damaging effects on marine life as a significant portion of them are absorbed by the world's oceans. This carbon captured by the ocean causes seawater to acidify and is also known as blue carbon. Our mission is to shed light on these issues and provide travelers a way to balance out their carbon emissions specifically through offsetting this blue carbon. With just a few details about your travel plans – where you're starting from, where you're heading, and how you're getting there – our user-friendly platform calculates your carbon footprint and converts this into a monetary value.
            <br> <br> We also include organizations which you can donate this amount of money to in order to help conserve our ocean. We invite you to be part of the solution, helping us create a more sustainable world through blue carbon offsetting.  
         </p>
    </div>
</div>
<div class="blurbs">
    <div class="calcBlurb">
        <h3> Check out your travel carbon footprint with our calculator!</h3>
        <div>
            <button class="calcButton"><a href="/calculator">Calculate!</a></button> 
        </div>
    </div>
    <div class="tipsBlurb">
        <h3> Find out how you can get involved today!</h3>
        <div>
            <button class = "tipsButton"><a href="/involvement">Get Involved!</a></button>
        </div>
    
    </div> 
</div>


{% endblock %}