{% extends "base.html" %}
{% block title %}Get Involved{% endblock %}
{% block content %}<h1>This is the get involved page!</h1>
<div></div>
<div class="allOrgs">
    <div class="orgContainer">
        <img src = "">
        <h3>Sample Org</h3>
        <p>This is sample text</p>  
    </div>

    <div class="orgContainer">
        <img src = "">
        <h3>Sample Org</h3>
        <p>This is sample text</p>
    </div>

    <div class="orgContainer">
        <img src = "">
        <h3>Sample Org</h3>
        <p>This is sample text</p>
    </div>
</div>

{% endblock %}
